<app-nav-bar></app-nav-bar>
<div class="row login-row">
    <div class="col-lg-6 offset-lg-3 col-xs-12">
        <div class="input-box align-c">
            <div class="row">
                <div class="col-lg-12 align-c">
                    <h3>Login</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="row login-row">
                        <h4>Username</h4>
                    </div>
                    <input class="input-group" placeholder="Devistator" [(ngModel)] = "user.username">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="row login-row">
                        <h4>Password</h4>
                    </div>
                    <input type="password" class="input-group" placeholder="************" [(ngModel)] = "user.password">
                </div>
            </div>

            <div class="row login-row last-row">
                <div class="col-lg-12 align-c">
                    <button class="btn btn-primary" (click) = "login(user.username, user.password);">Login</button>
                </div>
            </div>
        </div>
        <div class="row login-row">
            <div class="col-lg-12 align-c">
                <a [routerLink]="['/signup']">Don't have an account? Sign Up for Free!</a>
            </div>
        </div>
        
    </div>
</div>