<app-nav-bar></app-nav-bar>

<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-2">
            <app-side-nav></app-side-nav>
        </div>
        <div class="col-lg-10">
            <div class="row" *ngIf="dash">
                <div class="col-lg-12">
                    THIS WILL ONLY SHOW IF ITS ON DASH
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <app-general-notes></app-general-notes>
                </div>
            </div>
            <div class="row">
                <!--<app-goal-notes></app-goal-notes>-->
                
            </div>
        </div>
    </div>
    
</div>
