.side-nav{
    background-color: white!important;
    border-bottom: 2px darkgrey solid;
    box-shadow: 0px 10px 5px darkgray;
    padding:4%;
    min-height: 400px;
}

.nav-btn{
    width:100%;
}

.add-game-button{
    position:absolute; 
    bottom:5px; 
    right: 5px;
}